<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #respuestaForm="ngForm" (ngSubmit)="addRespuesta(respuestaForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="preguntaService.selectedPregunta._id">
            <div class="row">
              <div class="input-field col-s12">
                <input type="text" name="pregunta" #name="ngModel" [(ngModel)]="preguntaService.selectedPregunta.pregunta" placeholder="Enter your question">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="respuestas" #name="ngModel" [(ngModel)]="preguntaService.selectedPregunta.respuestas" placeholder="Enter your answer">
              </div>
              <div class="card-action">
                <div class="input-field col-s12">
                  <button class="btn right" style="margin-left: 2px;" (click)="resetForm(preguntaForm)">Clean</button>
                  <button class="btn right">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table class="striped highlight black-text">
        <thead>
          <th>Pregunta</th>
          <th>Respuesta</th>
          <th>Operations</th>
        </thead>
        <tbody>
          <tr *ngFor="let pregunta of preguntaService.preguntas">
            <td>{{ pregunta.pregunta }}</td>
            <td>{{ pregunta.respuestas }}</td>
            <td>
              <a (click)="editPregunta(pregunta)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deletePregunta(pregunta._id, preguntaForm)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>  
<!-- <div class="container">
  <div class="row">
      <div class="col s5">
          <table class="striped highlight black-text">
            <thead>
              <th>Pregunta</th>
              <th>Respuesta</th>
              <th>Operations</th>
            </thead>
            <tbody>
              <tr *ngFor="let pregunta of preguntaService.preguntas; index as i">
                <td>{{i+1}} - {{ pregunta.pregunta }}</td>
                <td>{{ pregunta.respuestas }}</td>
                <td>
                  <a (click)="editPregunta(pregunta)">
                    <i class="material-icons">edit</i>
                  </a>
                  <a (click)="deletePregunta(pregunta._id, preguntaForm)">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    <div class="col s7">
      <div class="card">
        <div class="card-content">
          <form #preguntaForm="ngForm" (ngSubmit)="addRespuesta(preguntaForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="preguntaService.selectedPregunta._id">
            <div class="row">
              <div class="input-field col-s12">
                <div class="row" *ngFor="let pregunta of preguntaService.preguntas; index as i">
                  <div class="input-field col-s12">
                    <td>{{i+1}} - {{ pregunta.pregunta }}</td>
                    <input type="text" name="respuestas" #name="ngModel" [(ngModel)]="pregunta.respuestas" placeholder="Enter your answer">
                  </div>
                </div>
              </div>
              <div class="card-action">
                <div class="input-field col-s12">
                  <button class="btn right">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->